/* Importing Normalize css */
@import url("base.css");
@import url("watch.css");
*, *:before, *:after {
  box-sizing: border-box; }

button, input {
  border: 0;
  outline: 0;
  overflow: hidden;
  background-color: transparent; }

a {
  color: #f3f3f3; }

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.8); }

body {
  height: 90vh;
  background-size: cover; }

.todos-sec {
  float: right; }
  .todos-sec .todo {
    position: relative;
    text-align: center;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 1px 15px 60px 20px rgba(0, 0, 0, 0.03); }
    .todos-sec .todo .input-box {
      padding: 16px 0;
      background: rgba(215, 255, 255, 0.3);
      border-bottom: 2px solid rgba(0, 0, 0, 0.05); }
    .todos-sec .todo .label {
      font-size: 30px;
      padding: 0 20px;
      color: rgba(0, 0, 0, 0.8); }
    .todos-sec .todo .input {
      width: 500px;
      font-size: 30px;
      color: #111; }
    .todos-sec .todo .add {
      font-size: 30px;
      color: transparent;
      cursor: pointer;
      transition: color 1s ease-out; }
    .todos-sec .todo .add:hover {
      color: rgba(0, 0, 0, 0.8); }
  .todos-sec .task-list {
    margin: 0;
    padding: 0;
    max-height: 550px;
    overflow: auto;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3; }
    .todos-sec .task-list li {
      position: relative;
      text-align: left;
      padding: 0 5px;
      margin: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.9);
      vertical-align: middle;
      width: 642px; }
    .todos-sec .task-list .todo-list {
      align-items: center; }
      .todos-sec .task-list .todo-list .todoText {
        margin: 20px 0;
        font-size: 30px;
        color: white;
        width: 600px;
        word-break: break-all; }
      .todos-sec .task-list .todo-list .crossBtn {
        font-size: 30px;
        position: absolute;
        right: 5%;
        top: 50%;
        color: rgba(230, 176, 170, 0);
        color: transparent;
        transform: translateY(-50%);
        transition: color 1s ease-out; }
      .todos-sec .task-list .todo-list .crossBtn:hover {
        color: #cd6155; }
      .todos-sec .task-list .todo-list .roundCheckBox {
        width: 2.4em;
        height: 2.3em;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        margin-right: 30px; }
      .todos-sec .task-list .todo-list .roundCheckBox:checked {
        background: url(../../assets/media/checkBox.svg);
        background-position: 80%, 50%; }
  .todos-sec .list {
    display: flex;
    list-style-type: none;
    justify-content: space-between; }
    .todos-sec .list .total-items {
      color: #fff; }
    .todos-sec .list .list li {
      font-size: 18px; }
    .todos-sec .list .li-btn {
      border-radius: 3px;
      font-size: 16px;
      color: #fff;
      padding: 3px 10px;
      margin: 0;
      cursor: pointer;
      border: 0.5px solid transparent; }
    .todos-sec .list .li-btn:hover {
      border: 0.5px solid rgba(175, 47, 47, 0.2); }
    .todos-sec .list .clear:hover {
      text-decoration: underline;
      cursor: pointer;
      border: none; }
    .todos-sec .list .activeListBorder {
      border: 1px solid rgba(175, 47, 47, 0.9); }

.primary-footer {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%); }
  .primary-footer ul {
    margin: 0;
    display: flex;
    width: 50vw;
    padding: 10px;
    justify-content: space-between; }
    .primary-footer ul .fas, .primary-footer ul .fab, .primary-footer ul .far {
      color: #ccff00;
      font-size: 30px;
      text-shadow: 0 0 1px white; }
    .primary-footer ul i:hover {
      color: #fff;
      text-shadow: 0px 0px 50px white; }

.quote-text {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  height: 200px; }

.quote-para {
  line-height: 1.6;
  color: #f3f3f3;
  font-style: italic;
  text-shadow: 0 0 8px black; }

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.greeting {
  height: 200px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  color: red;
  transform: translate(-50%, -50%); }

.login-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: red;
  color: red; }

/*# sourceMappingURL=main.css.map */
